{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/character_create_edit.css' %}">
  <title>Create a Character</title>
{% endblock %}

{% block content %}

<h1>{{ header }}</h1>
<section class="character-create-body container">
  <form action="{% url 'character_create' %}" method="POST" class="character-create-form">
    {% csrf_token %}
    {% for field, label in fields %}
    <div class="form-group">
      <label for="{{ field }}">{{ label }}</label>
      <input class="form-control form-control-sm" required type="text" name="{{ field }}" id="{{ field }}">
    </div>
    
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
    {% endfor %}
    <button class="btn btn-danger" type="submit">Save</button>
  </form>
</section>

{% endblock %}
