{% extends 'base.html'%}
{% block content %}

<div class="character-detail-body">
  <section class="character-detail-header">
    <div>
      <img src="{{ character.image }}" alt="{{ character.name }}" width="60px">
      <span class="character-detail-name">{{ character.name }}</span>
    </div>
    <div>
      <a href="{% url 'character_edit' pk=character.pk %}">edit</a>
      <a href="{% url 'character_delete' pk=character.pk %}" class="delete">delete</a>
    </div>
  </section>
  <form class="character-detail-traits">
    {% csrf_token %}
    <div class="character-detail-class-race">
      <p class="label label-class-race">class:</p>
      <input
        class="text-area text-area-class-race"
        type="text"
        name="char_class"
        value="{{ character.char_class }}"
      >
      <p class="label label-class-race">race:</p>
      <input
        class="text-area text-area-class-race"
        type="text"
        name="race"
        value="{{ character.race }}"
      >
    </div>
    <div class="character-detail-align-bknd">
      <p class="label label-align-bknd">alignment:</p>
      <input
        class="text-area text-area-align-bknd"
        type="text"
        name="alignment"
        value="{{ character.alignment }}"
      >
      <p class="label label-align-bknd">background:</p>
      <input
      class="text-area text-area-align-bknd"
      type="text"
      name="background"
      value="{{ character.background }}"
      >
    </div>
    <div class="character-detail-values">
      <p class="label label-value">speed:</p>
      <input
        class="text-area text-area-value"
        type="text"
        name="speed"
        value="{{ character.speed }}">
      <p class="label label-value">max hp:</p>
      <input
        class="text-area text-area-value"
        type="text"
        name="hit_points"
        value="{{ character.hit_points }}"
      >
      <p class="label label-value">ac:</p>
      <input
        class="text-area text-area-value"
        type="text"
        name="armor_class"
        value="{{ character.armor_class }}"
      >
      <p class="label label-value">exp:</p>
      <input
        class="text-area text-area-value"
        type="text"
        name="experience"
        value="{{ character.experience }}"
      >
    </div>
    <div class="character-detail-stats">
      <div class="character-detail-stat">
        <p class="label label-stat">wisdom</p>
        <input
          class="text-area text-area-stat"
          type="text"
          name="wisdom"
          value="{{ character.wisdom }}"
        >
      </div>
      <div class="character-detail-stat">
        <p class="label label-stat">strength</p>
        <input
          class="text-area text-area-stat"
          type="text"
          name="strength"
          value="{{ character.strength }}"
        >
      </div>
      <div class="character-detail-stat">
        <p class="label label-stat">intelligence</p>
        <input
          class="text-area text-area-stat"
          type="text"
          name="intelligence"
          value="{{ character.intelligence }}"
        >
      </div>
      <div class="character-detail-stat">
        <p class="label label-stat">charisma</p>
        <input
          class="text-area text-area-stat"
          type="text"
          name="charisma"
          value="{{ character.charisma }}"
        >
      </div>
      <div class="character-detail-stat">
        <p class="label label-stat">constitution</p>
        <input
          class="text-area text-area-stat"
          type="text"
          name="constitution"
          value="{{ character.constitution }}"
        >
      </div>
      <div class="character-detail-stat">
        <p class="label label-stat">dexterity</p>
        <input
          class="text-area text-area-stat"
          type="text"
          name="dexterity"
          value="{{ character.dexterity }}"
        >
      </div>
    </div>
    <div class="character-detail-notes">
      <p class="label label-notes">notes:</p>
      <input
        class="text-area text-area-notes"
        type="text"
        name="notes"
        value="{{ character.notes }}">
    </div>
    <button
      id="save-button"
      class="btn btn-danger">Save</button>
  </form>
</div>

{% endblock %}