{% extends 'base.html' %}

{% block content %}

<h1>Create a Character</h1>
<section class="character-create-body container">
  <form action="{% url 'character_create' %}" method="POST" class="character-create-form">
    {% csrf_token %}
    {% for field, label in fields %}
    <div class="form-group">
      <label for="{{ field }}">{{ label }}</label>
      <input class="form-control form-control-sm" type="text" name="{{ field }}" id="{{ field }}">
    </div>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
    {% endfor %}
    <button class="btn btn-danger" type="submit">Save</button>
  </form>
</section>

{% endblock %}
