{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth-forms.css' %}">
{% endblock %}

{% block content %}
<body class="landing">
<div class = "introduction">
    <h1 class ="introduction-header">DnD Character Creator</h1>
    <p class="introduction intro-content">
        Well met traveler!<br />
        You have just found a portal to writing down your character information for Dungeons And Dragons. Not just one character, but however many you want to keep here.<br />
        Oh, and did we mention this portal costs you zero gold? Not even one copper to use.</p>
  </div>
<div class="container">
  <section class="form-section jumbotron signup-form">
    <h1>Create an Account</h1>
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input class="form-control form-control-sm" type="text" name="first_name" id="first-name" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input class="form-control form-control-sm" type="text" name="last_name" id="last-name" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control form-control-sm" type="text" name="username" id="username" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control form-control-sm" type="email" name="email" id="email" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control form-control-sm" type="password" name="password" id="password" maxlength="25" minlength="4" required>
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input class="form-control form-control-sm" type="password" name="password2" id="password2" maxlength="25" minlength="4" required>
      </div>
      <button class="btn btn-secondary" type="submit">Sign Up</button>
    </form>
  </section>
</div>

{% endblock %}
