{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth-forms.css' %}">
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous" defer>
  </script>
  <script defer src="{% static 'js/auth.js' %}"></script>
{% endblock %}

{% block content %}
<div class = "introduction">
    <h1 class ="introduction-header">DnD Character Creator</h1>
    <p class="introduction intro-content">
        Well met traveler!<br />
        You have just found a portal to writing down your character information for Dungeons And Dragons.<br />
        Oh, and did we mention this portal costs you zero gold? Not even one copper to use.</p>
  </div>
<div class="container">
  <section class="form-section jumbotron signup-form">
    <h1>Create an Account</h1>
    <form method="POST" id="signup" novalidate>
      {% csrf_token %}
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input class="signup-input form-control form-control-sm" type="text" name="first_name" id="first-name" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input class="signup-input form-control form-control-sm" type="text" name="last_name" id="last-name" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input class="signup-input form-control form-control-sm" type="text" name="username" id="username" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="signup-input form-control form-control-sm" type="email" name="email" id="email" maxlength="25" minlength="2" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="signup-input form-control form-control-sm" type="password" name="password" id="password" maxlength="25" minlength="4" required>
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input class="signup-input form-control form-control-sm" type="password" name="password2" id="password2" maxlength="25" minlength="4" required>
      </div>
      <button class="btn btn-secondary" type="submit">Sign Up</button>
      {% if error %}
        <span class="submit-err">{{ error }}</span>
      {% endif %}
    </form>
  </section>
</div>
<div class="user-funnel">
  <h1 class = "funnel-header">How to use this portal</h1>
  <p>
      First, either sign up or login. <br />

      From here you will have the option of creating a new character. In the event you have created one or more characters they will be listed out where you can view your character in detail and edit as needed. <br />

      Your character’s most important information is displayed at the top and the rest of the information can be written into the notes section. <br />

      In the unfortunate event your character perished through a harsh dungeon or by the whims of the dice gods you also have the option of deleting your character. <br />

      Happy adventuring!
  </p>
</div>
  <div>
  
  <a class="dev-button character-list-create btn btn-outline-danger" href="{% url 'developers' %}">Meet the Devs!</a>
  </div>
{% endblock %}
