{% extends 'base.html' %}

{% block content %}

<section class="form-section">
  <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" maxlength="25" minlength="2" required>
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" maxlength="25" minlength="4" required>
    </p>
    <button type="submit">Log In</button>
  </form>
</section>

{% endblock %}
