body {
  background: url("https://media.giphy.com/media/OK5LK5zLFfdm/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  max-width: 540px;
}

.login-form {
  margin: 60px auto;
}

.signup-form {
  margin: 40px 0 0 auto;
  background: url("../images/8izraLqeT copy.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.landing h1 {
  justify-content: center;
}

.landing form {
  padding: 15px;
}

.landing {
  background: url("https://cdn.wallpapersafari.com/4/79/6p4vPT.gif");
}



/*
below seems redundant
#password, #username {
  box-shadow: 1px 1px 2px 2px black;
}

#login-form {
  background: rgb(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px 5px black;
}

*/

/* for button on form */
.btn-secondary {
  font-family: fantasy;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-color: white;
  box-shadow: 1px 1px 2px 2px black;
}

.btn-secondary:hover {
  color: black;
  background-color: rgb(255, 255, 255, 0.5);
  border-color: white;
}

/* below is for getting the login form and sign up form to be the same format */
.form-control {
  box-shadow: 1px 1px 2px 2px black;
}

.form-section {
  background: rgb(255, 255, 255, 0.8);
  box-shadow: 3px 3px 5px 5px black;
  font-family: fantasy;
}

.intro-content {
  color: white;
  font-family: fantasy;
  font-size: 22px;
}


.introduction-header {
  margin-top: 1.5%;
  color: white;
  font-family: fantasy;
}

.introduction {
  text-align: center;
}

/*
#introduction{
  position:absolute;
  top: 15%;
  right: 5%;
  margin: 10px;
}
*/